MasterServerFramework2/.vs/MasterServerFramework2/v16/Server/sqlite3/db.lock
MasterServerFramework2/.vs/MasterServerFramework2/v16/Server/sqlite3/storage.ide
MasterServerFramework2/.vs/MasterServerFramework2/v16/Server/sqlite3/storage.ide-shm
MasterServerFramework2/.vs/MasterServerFramework2/v16/Server/sqlite3/storage.ide-wal
MasterServerFramework2/ProjectSettings/XRSettings.asset
